*{
  padding: 0;
  
  margin: 0; 
  box-sizing: border-box;
}

header{
  width: 110%;
  height: 50px;
  background-size: auto;
  background-attachment: fixed;
  position: fixed;
  overflow: hidden;
  border-radius: 0 0 0 0;
  z-index: 2;
  margin-bottom: 60px;

}

header .headOver{
  width: 100%;
  height: 100%;
  
  color: whitesmoke;
  background: linear-gradient( 145deg, #3778c2   30%, #b74df1 60% );
}



.textHobbies{
  text-align: center;
  font-size: 25px;
  font-family:'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 10px;
  color: white;
  text-shadow: black -7px 1px 9px;
  text-transform: capitalize;

}
@media screen and (min-width: 1801px) {
  div.textHobbies {
    font-size: 130px;
  }
}

@media screen and (max-width: 1800px) {
  div.textHobbies {
    font-size: 50px;
    transform: translate(0,10px);
  }
}

.buttonHobbies{

  height: 20%;
  width: 90%;
  transform: skew(-10deg);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
}
.descriptionPage {
  background-color: transparent;
}
.descriptionPage .buttonHobbies {
  background-color: transparent;
}
.bottomTextHobbies{
  font-family:'Lato', sans-serif;
  font-size: 20px;
  transform: skew(10deg);
  padding-top: 10px;
 
  
}
body{
  background-color: black;
  scroll-padding-top: 50px;
}

div{
  box-sizing:border-box;
}
.squares{
  padding:0px 0 0 0;
}
.squares >div:hover{
  background-color: #FF0000;
}
.horizontal-scroll-wrapper{
  background-color: #282828;
  position: relative;
  overflow: auto;
  display:block;
  overflow-y:auto;
  overflow-x:hidden;
  top:0;
  left:0;
  width:500px;
  margin-left: -500px;
  margin-bottom: 0;
  max-height:1920px;


  transform:rotate(-90deg) ;
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{


  transform:rotate(90deg)translate(450px,-85px);
  transform-origin: right top;
}
.squares > div{
  background: white;
  color: black;
  width: 400px;
  height: 480px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 35px;
  box-shadow: 10px 15px 20px 4px black;
}

html{
  scroll-behavior: smooth;
}
.headBGHobbies{
  position: fixed;
  margin-top: 20px;
  opacity: 0.5;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

}

.descriptionPage{
  display: flex;
  width: 80%;
  padding: 30px;
  background-color: transparent;
  margin: auto;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bottomText{
  background: url(img/yt.png);
  background-size: contain;
  background-repeat: no-repeat;

  transform: skew(20deg);margin: 0 0 0 40px;
  text-align: center;
  background-position: left;
  height: 80px;
  width: 100%;

}

.youtubeBanner{
  display: flex;
  margin: 0 0 0 -40px;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: skew(-20deg);
  background: linear-gradient( 200deg, #b74df1 30%, #150734 100% );
  width: 30%;
  padding: 30px;

}
@media screen and (min-width: 900px) {
  div.youtubeBanner {
    width: 30%;
  }
}

@media screen and (max-width: 1800px) {
  div.youtubeBanner {
    width: 100%;
  }
}
.scrollmenu {
  background-color: transparent;
  overflow-x: inherit;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 1920px;


}

.scrollmenu .cardYT{
  background-color: white;
  color: black;
  width: 265px;
  height: 350px;
  margin-left: 9px;
  overflow: hidden;
}

.scrollmenu .cardYT{
  display: inline-block;
  color: black;
  border-radius: 35px 35px 0 0;
  text-decoration: none;
  word-wrap: break-word;
}

.thumbImg:hover {
  border-bottom: #FF0000 3px solid;
}

.thumbImg{
  height: 50%;
  width: 100%;
  border-bottom: transparent solid 3px;
  border-radius: 30px 30px 0 0;
}
.textdescContainer{   
  height: 50%; 
  background-color: white;
}
.YTtitle{
  white-space: normal;


  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;

  text-align: justify;

  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.YTdesc{
  white-space: normal;
  border-radius: 30px;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;

  text-align: left;

  display: flex;
  justify-content: space-around;
  padding: 15px;

  

}
.playlistContainer{
  align-items: center;
  justify-content: center;
  display: flex;
}
.playlistGuide{
  background-color: #b74df1;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  align-items: center;
  border-radius: 30px 0 0 30px;
  width: 20px;
  height: 60px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 10px;
  visibility: hidden;
}
::-webkit-scrollbar-track:horizontal {
  
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: red; 
  border-radius: 5px;
  
}
::-webkit-scrollbar-thumb:hover:horizontal {
  background: #b30000; 
}
.card{
  width: 50%;
  background: #e7e7e7;
  height: 40vh;
  margin: 50px auto;
  border-radius: 2px;
}
.motorcycle{

  background-repeat: no-repeat;
  
}

.motorcycle img{
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 40% 40%;
 
}

.bikeContainer{
  display: block;
  width: 330px;
  justify-content: space-around;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
}

@media screen and (min-width: 900px) {
  div.motoBanner {
    width: 40%;
  }
}

@media screen and (max-width: 1800px) {
  div.motoBanner {
    width: 100%;
  }
}
.headnav{
  float: left;
  background-color: #0f0f0f;
  z-index: 3;
  
  height: 110%;
}.headnav a{
  float: left;
  color: white;
  background-color: #32064A;
  text-align: center;
  padding: 14px 16px;

  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;z-index: 3;
}
.headnav :hover{
  background-color: #150734 ;

}