*{
    padding: 0;
    
    margin: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    background-color: black;
    scroll-padding-top: 50px;
}
header{
    width: 100%;
    height: 50px;
    background-size: auto;
    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
    border-radius: 0 0 0 0;
    z-index: 2;

}

header .headOver{
    width: 100%;
    height: 100%;

    color: whitesmoke;
    background: linear-gradient( 145deg, #3778c2   30%,#32064A 60% );
}


/*The Hambuger style and animation */
.container{
    display: inline-block;
    cursor: pointer;
    border-radius: 20% 20% 20% 20%;
    margin: 5px;
    z-index: 1;

}
.patty1, .patty2, .patty3{
    background-color: #e5eaf5;
    width: 35px;
    height: 5px;
    margin: 5px 0;
    transition: all 500ms ease-in-out;
    border-radius: 50%;
}

.container:hover{
    outline: solid;-moz-outline-radius: 10px;
    outline-width: 2px;
}
.pattyRotate .patty1{
    
    transform: translate(0,10px)rotate(-45deg);
}.pattyRotate .patty3{
    transform: translate(0,-10px)rotate(45deg);
}.pattyRotate .patty2{
    opacity: 0;
}
/*The End of Hambuger style and animation................................................................................................................... */



.imgOverlay{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 60px;

}

/*HearedNav*/
.headnav{
    float: right;
    background-color: #0f0f0f;
    z-index: 3;

    height: 110%;
}

.headnav a{
    float: left;
    color: white;
    background-color: #32064A;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;z-index: 3;
}
.headnav :hover{
    background-color: #150734 ;

}
/*This is the sidebarMenu where it is a quick guide to important information*/
.sidebar .tooltipright::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #0f0f0f;
  } 

  .sidebar .tooltipright {
    visibility: hidden;
    width: 120px;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 100%;
  }
  .sidebar a:hover .tooltipright {
    visibility: visible;
  }
  .sidebar .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: -30px;
    left: -50%;

  }
  
  .sidebar .tooltiptext::after {
    content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
  }
  .sidebar a:hover .tooltiptext {
    visibility: visible;
  }
  .sidebar {
    width: 500px;
    position: fixed;
    height: 500px; 
    z-index: 1;
    top: -200px;
    left: -250px;
    overflow: hidden;
    padding: 250px;
    transition: all 500ms ease-in-out;
    vertical-align: center;
    background: linear-gradient( 200deg, #32064A 30%, #150734 100% );
    border-radius: 50%;/*topleft, .,.,bottomleft*/
    transform: rotate(-90deg);
    
    opacity: 0;
}
  

.sidebar a {
    text-decoration: none;
    text-align: center; 
    font-size: 25px;
    color: white;
    display: block;
    background-color: #0f0f0f;
    border-radius: 100%;

    height: 60px;
    width: 60px;
    transition: all 200ms ease-in-out;
}


/*This posiyion the circle links to a specific spot on the sidebar<How to test: trail by error>*/
.sidebar a:nth-child(1){
    transform: translate3d(170px,5px,0)
}.sidebar a:nth-child(2){
    transform: translate3d(140px,15px,0)
}.sidebar a:nth-child(3){
    transform: translate3d(90px,15px,0)
}.sidebar a:nth-child(4){
    transform: translate3d(15px,-15px,0)
}

.sideNavAnim{
    transform:   scale3d(1,1,1);
    opacity: 100;
}
.sidebarItems li{
    transition: all 500ms ease-in-out;
    transform: translate(-100%, 0);
    opacity: 0;margin: 0px 0px;
    width: 20px;
}

.sidebar a:hover {
    background-color: #3B5998;
}

/*The End of Sidebar style....................................................................................................................................................*/ 



/*This is my top profile style with photo and specialties*/
.imageProfile{
    background-image: url("img/Untitled-9.png");

    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: safe;
    padding: 60px;
    padding-top: 110px;
    flex-wrap: wrap;
}
.shapeText{
    background: linear-gradient( 200deg, #32064A 30%, #150734 100% );
    width: 530px;
    height: 550px;
    background-size: 100% 100%;
    display: flex;
    justify-content: left;
    
    flex-wrap: wrap;
    border-left: 1px solid #474747;border-top: 1px solid #474747;
    margin-left: 200px;

}
@media screen and (min-width: 1801px) {
    div.shapeText {
        margin-left: 200px;
        width: 530px;
        height: 550px;
    }
  }
  
  @media screen and (max-width: 820px) {
    div.shapeText {
        padding: 0px;
        margin-left: 0px;
        
        width: 390px;
        height: 540px;
    }
  }
  @media screen and (min-width: 821px) {
    div.imageProfile {
        padding: 60px;
    }
  }
  
  @media screen and (max-width: 1800px) {
    div.imageProfile {
        padding: 50px;

    }
  }
  @media screen and (min-width: 1801px) {
    div.textOverlay {
        visibility: visible;
    }
  }
  
  @media screen and (max-width: 1800px) {
    div.textOverlay {
        visibility: visible;

    }
  }
.textOverlay
{
    background: #0f0f0f;
    width: 480px;
    height: 500px;
}

 /*The End of profile style..............................................................................................................................................*/

 /*Inbetween banners*/
 .bannerDiv{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;

    text-align: center;
    
    letter-spacing: 2px;
    height: 70px;
    width: 100%;
     
    color: white;
    background: linear-gradient( 145deg, #32064A 30%, #3778c2 100% );

    padding-top: 10px;
    border-bottom: solid darkgrey 1px;
    border-top: solid darkgrey 1px;
 }

 /*the banner End...............................................................................................................................................................*/ 

 /*Specialities*/
.slidercontent{
    border-radius: 5% 0 0 5%;
    height: 250px;
    width: 400px;
    background: linear-gradient( 200deg, #3778c2   30%,#32064A 100% );
    box-shadow: 7px 6px 10px 2px black;  
}.programcontainer {
    width:400px; height: 250px; 
    background-color: white;
    overflow: hidden;
    border-radius: 0 5% 5% 0;
    box-shadow: 7px 6px 10px 2px black;
   
}
@media screen and (max-width: 820px) {
    div.slidercontent {
        border-radius: 5% 5% 0 0;
    }
  }
  @media screen and (min-width: 821px) {
    div.slidercontent {
        border-radius: 5% 0 0 5%;
    }
  }@media screen and (max-width: 820px) {
    div.programcontainer {
        border-radius: 0 0 5% 5%;
    }
  }
  @media screen and (min-width: 821px) {
    div.programcontainer {
        border-radius: 0 5% 5% 0;
    }
  }
.captop{
    font-size: 16px;

    display: block;
    width: 100%;
    word-wrap: break-word;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}.capbot{
    display: block;

    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 600;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    text-transform: uppercase;

    width: 80%;
    
    padding-top: 10px;
    
    color: white;
    
}.headimage{
    width: 220px;
    height: 180px;
    background-color: transparent;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.containRight{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.containLeft{
    display: flex;

    justify-content: flex-start;
    padding: 20px;
}
@media screen and (max-width: 820px) {
    div.containLeft {
        display: flex;

        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 821px) {
    div.containLeft {
        display: flex;

        justify-content: flex-start;
        padding: 20px;
    }
  }
  @media screen and (max-width: 820px) {
    div.containRight {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 821px) {
    div.containRight {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
  }
.headtextContainer{
    width: 100%;
    height: auto;
    
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;

    text-transform: uppercase;
    padding: 3%;

    display: flex;
    justify-content: center;
}
.datetextContainer{
    width: 100%;
    height: auto;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;

    display: flex;
    justify-content: left;
    padding-left: 3px;
}.bodytextContainer{
    width: 100%;
    height: auto;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;

    text-align: justify;

    display: flex;
    justify-content: left;
    padding: 5px;

}

.skillsrating{
    background-image: url("img/mygames.png");
    width: 100%;
    height: auto;
    background-size: 100% 100%;

}
 /*THE END Specialities..........................................................................................................................................*/


 /*Education details*/
 .edu{
    
    background-image: url("img/education.png");
    width: 100%;

    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    flex-wrap: wrap;

}

.eduContent{
    background-color: white;
    width: 350px;
    height: 500px;

    border-radius: 20px;

    box-shadow: 7px 6px 10px 2px black; 
}
.edubotContent{

    width: 100%;
    height: 220px;

    

}.edutopContent{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;

    text-align: justify;

    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 50%;
    background: linear-gradient( 200deg, #32064A 30%, #150734 100% );
    border-radius: 20px 20px 200px 200px;
}
 /*THE END Education details........................................................................................................................................................................*/






/*Icons For buttons*/
.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;

    text-align: center;
    text-decoration: none;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}.fa-twitter {
    background: #55ACEE;
    color: white;
}.fa-instagram {
    background: purple;
    color: white;
}.fa-whatsapp {
    background: #25d366;
    color: white;
}.fa-discord {
    background: #7289da;
    color: white;
}
.fa-facebook:hover {
    opacity: 70%;
}.fa-twitter:hover {
    opacity: 70%;
}.fa-instagram:hover {
    opacity: 90%;
}.fa-whatsapp:hover {
    opacity: 70%;
}.fa-discord:hover {
    opacity: 90%;
}
/*The END Of Icons...............................................................................................................................................*/

/*THE Detail*/


.containerPersonal{
    display: inline-flex;
    flex-basis: auto;
    background: linear-gradient( 200deg, #3778c2   30%,#32064A 100% ); ;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;

    
    
}.containerPD{
    width: 530px;
    
    border-radius: 30px;
    background: #150734;
    border: white solid 1px;
    opacity: 98%;

}.textDetails{
    
    width: 100%;

}
.detailShape{
    width: 100%;


    background: transparent;
    display: flex;
    
    justify-content: space-around;
    align-items: flex-end;


}
.personalDetails{
    border: black solid 2px;
    
}

